body{
	background-color: gray;

}
.container{
	width:480px;
	height:480px;
	margin:auto;
	background-color: white;
	padding: 0;
	line-height: 0;
	border:1px solid black;
}

.container div{
	display: inline-block;
	background-color: white;
}

button{
	display: block;
	width: 200px;
	height: 100px;
	margin:0 auto 50px;
	background-color: green;
}